.main{
  margin-left: -4%;
  margin-top: 7%;
}
.one{
 margin-left: 5%;
}
input{
     padding: 7px;
}
h1{
  margin-left: 15%;
    margin-top: 3%;

}
.f{
margin-left: 20%;
margin-right: 10%;
}
.un{
width: 20%;
border-radius: 7px;
  height:2em;
}
.pass{
  width: 20%;
  border-radius: 7px;
    height:2em;
box-shadow: 0px 0px 0px 0px rgba(0,0,0,0.0);
}
.submit{
  width: 12%;

  height:3em;
  background-color: white;
  border-radius: 7px;

}
.forgot{
  text-decoration: none;
  color: #3CB371;
  font-size: 20px;
}
.im{
  margin-left: 45%;
  margin-top: 0%;
  margin-bottom: 40%;
  width:55%;
  height:55%;
  position: absolute;
  top: 0%;
  right: 0%;
}
.side{
  background-color: black;
}
